@model BangazonAuth.Models.ApplicationUser

@{
    ViewData["Title"] = "CannotAddToOrder";
}

<h2>Cannot Add To Order</h2>

<h3>You are selling this product you cannot add it to an order.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="CannotAddToOrder">
        <div class="form-actions no-color">
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
